Repository tomzaku/dreamer-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,json}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

feat: add hobby design
  packages/moon-ui/button/src/MultiSelectButton.module.scss
  packages/moon-ui/button/src/MultiSelectButton.tsx
  packages/moon-ui/icon/IconCalendar.tsx
  packages/moon-ui/icon/IconDone.tsx
  packages/moon-ui/radio/src/index.tsx
  packages/tasks-page-common/src/enum.ts
  packages/tasks-page-common/src/type.ts
  packages/tasks-page-ui/src/component/BuildHabit/index.tsx
  packages/tasks-page-ui/src/component/BuildWeeklyHobby/index.module.scss
  packages/tasks-page-ui/src/component/BuildWeeklyHobby/index.tsx
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
  packages/tasks-page-ui/src/component/EisenhowerMatrix/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add hobby logics
  packages/route/src/index.tsx
  packages/tasks-page-common/src/constant.ts
  packages/tasks-page-common/src/context.ts
  packages/tasks-page-common/src/hoc.tsx
  packages/tasks-page-common/src/type.ts
  packages/tasks-page-ui/src/component/EditTaskModal/index.tsx
Due: prettier --write, eslint --fix

feat: update styles for create task
  packages/tasks-page-ui/src/component/CreateTask/index.module.scss
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
  packages/tasks-page-ui/src/component/CurrentTaskItem/components/CommonTaskItem/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: update styles and fix task status bug
  packages/app-component/header/src/AppHeader.module.scss
  packages/app-component/header/src/AppHeader.tsx
  packages/global-tool-mobile/src/index.tsx
  packages/moon-ui/icon/IconApp.tsx
  packages/moon-ui/icon/IconSetting.tsx
  packages/moon-ui/list/src/ItemMeta/index.module.scss
  packages/tasks-page-ui/src/component/CreateTask/index.module.scss
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
  packages/tasks-page-ui/src/component/CurrentListTask/index.module.scss
  packages/tasks-page-ui/src/component/CurrentListTask/index.tsx
  packages/tasks-page-ui/src/component/CurrentTaskItem/components/CommonTaskItem/index.module.scss
  packages/tasks-page-ui/src/component/CurrentTaskItem/components/CommonTaskItem/index.tsx
  packages/tasks-page-ui/src/component/CurrentTaskItem/util.ts
  packages/tasks-page-ui/src/index.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: show all tasks
  packages/tasks-page-common/src/context.ts
  packages/tasks-page-common/src/hoc.tsx
  packages/tasks-page-common/src/type.ts
  packages/tasks-page-ui/src/component/CurrentListTask/index.tsx
Due: prettier --write, eslint --fix

fix: fix click on task item will stop animation
  packages/tasks-page-ui/src/component/CurrentListTask/DraggableList.tsx
  packages/tasks-page-ui/src/component/CurrentTaskItem/components/CommonTaskItem/index.tsx
Due: prettier --write, eslint --fix

feat: update create task
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
Due: prettier --write, eslint --fix

fix: fix duplicate create task
  packages/tasks-page-common/src/hoc.tsx
Due: prettier --write, eslint --fix

feat: update schedule logics
  packages/global-tool-mobile/src/index.tsx
  packages/notification/src/util.tsx
  packages/pomodoro-common/src/hoc/index.ts
  packages/pomodoro-common/src/hoc/withPomodoro.tsx
  packages/pomodoro-common/src/hook/index.ts
  packages/pomodoro-common/src/hook/usePomodoro.tsx
  packages/pomodoro-mobile/src/component/ShortBreak/index.tsx
  packages/pomodoro-player-ui/package.json
  packages/pomodoro-player-ui/src/index.tsx
  packages/route/src/index.tsx
  packages/tasks-page-ui/package.json
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
  packages/tasks-page-ui/src/index.tsx
Due: prettier --write, eslint --fix

feat: move pomodoro timer to context
  packages/pomodoro-common/package.json
  packages/pomodoro-common/src/context/PomodoroContext.tsx
  packages/pomodoro-common/src/context/PomodoroTimerContext.tsx
  packages/pomodoro-common/src/context/index.ts
  packages/pomodoro-common/src/hoc/index.ts
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-common/src/hook/index.ts
  packages/pomodoro-common/src/hook/usePomodoroTimer.tsx
  packages/pomodoro-mobile/src/component/LongBreak/index.tsx
  packages/pomodoro-mobile/src/component/Pomodoro/index.tsx
  packages/pomodoro-mobile/src/component/ShortBreak/index.tsx
  packages/route/src/index.tsx
  packages/timer-hook/src/index.tsx
  packages/timer-hook/src/type.ts
Due: prettier --write, eslint --fix

feat: add pomodoro phase
  packages/pomodoro-common/src/context/PomodoroTimerContext.tsx
  packages/pomodoro-common/src/enum/PomodoroTimer.ts
  packages/pomodoro-common/src/enum/index.ts
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-common/src/index.ts
  packages/pomodoro-mobile/src/component/LongBreak/index.tsx
  packages/pomodoro-mobile/src/component/Pomodoro/index.tsx
  packages/pomodoro-mobile/src/component/ShortBreak/index.tsx
  packages/pomodoro-mobile/src/index.tsx
  packages/pomodoro-player-ui/src/index.tsx
  packages/route/src/index.tsx
  packages/timer-hook/src/index.tsx
Due: prettier --write, eslint --fix

feat: add pomodoro player
  packages/moon-ui/icon/IconPauseCircle.tsx
  packages/moon-ui/icon/IconPlayCircle.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
  packages/route/src/index.tsx
  packages/timer-hook/src/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: move logics under hooks
  packages/moon-ui/icon/IconPauseCircle.tsx
  packages/moon-ui/icon/IconPlayCircle.tsx
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-mobile/src/component/LongBreak/index.tsx
  packages/pomodoro-mobile/src/component/Pomodoro/index.tsx
  packages/pomodoro-mobile/src/component/ShortBreak/index.tsx
  packages/pomodoro-mobile/src/index.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: remove unused design
  packages/moon-ui/typography/src/Title.tsx
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-mobile/src/component/Pomodoro/index.tsx
  packages/pomodoro-mobile/src/index.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
  packages/route/src/index.tsx
  packages/tasks-page-ui/src/component/CurrentListTask/index.module.scss
  packages/tasks-page-ui/src/component/CurrentListTask/index.tsx
  packages/tasks-page-ui/src/component/CurrentTaskItem/components/CurrentProcessTaskItem/index.tsx
  packages/tasks-page-ui/src/index.module.scss
  packages/tasks-page-ui/src/index.tsx
  packages/translation/src/language/en.json
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix bug when switch pomodoro phase
  packages/moon-ui/icon/IconPauseCircle.tsx
  packages/moon-ui/icon/IconPlayCircle.tsx
  packages/pomodoro-common/src/context/PomodoroTimerContext.tsx
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-mobile/src/component/Button3D/index.module.scss
  packages/pomodoro-mobile/src/index.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
  packages/tasks-page-ui/src/component/CreateTask/index.module.scss
  packages/translation/src/language/en.json
Due: prettier --write, eslint --fix, stylelint --fix

feat: add bug report and feature request
  packages/notification/src/util.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
  packages/setting-page-ui/src/index.module.scss
  packages/setting-page-ui/src/index.tsx
  packages/tasks-page-common/src/hoc.tsx
  packages/tasks-page-ui/src/component/CreateTask/index.tsx
  packages/tasks-page-ui/src/component/CurrentListTask/DraggableList.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: update styles
  packages/pomodoro-player-ui/src/index.module.scss
Due: prettier --write, stylelint --fix

feat: init pip
  packages/moon-ui/app-scss/metric.scss
  packages/moon-ui/icon/IconPictureInPicture.tsx
  packages/pomodoro-pip/package.json
  packages/pomodoro-pip/src/index.module.scss
  packages/pomodoro-pip/src/index.tsx
  packages/pomodoro-player-ui/src/index.module.scss
  packages/pomodoro-player-ui/src/index.tsx
  packages/route/package.json
  packages/route/src/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix update
  packages/pomodoro-pip/src/index.tsx
Due: prettier --write, eslint --fix

refactor: rename the config
  packages/pomodoro-common/src/context/PomodoroGlobalConfigContext.tsx
  packages/pomodoro-common/src/context/index.ts
  packages/pomodoro-common/src/hoc/withPomodoro.tsx
  packages/pomodoro-common/src/hoc/withPomodoroTimer.tsx
  packages/pomodoro-common/src/hook/index.ts
  packages/pomodoro-common/src/hook/usePomodoro.tsx
  packages/pomodoro-common/src/hook/usePomodoroGlobalConfig.tsx
  packages/pomodoro-mobile/src/component/Intro/index.tsx
  packages/pomodoro-pip/src/index.tsx
  packages/pomodoro-player-ui/src/index.tsx
  packages/setting-page-ui/src/index.tsx
Due: prettier --write, eslint --fix

refactor: rename the config hoc
  packages/pomodoro-common/src/hoc/index.ts
  packages/pomodoro-common/src/hoc/withPomodoroGlobalConfig.tsx
  packages/route/src/index.tsx
Due: prettier --write, eslint --fix

feat: support pip firefox
  packages/pomodoro-pip/src/index.module.scss
  packages/pomodoro-pip/src/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: safari bug report
  packages/pomodoro-pip/README.md
Due: none
